*
!*/

#Tracking Files
!.gitignore
!Source/
!README.md
#ALU
!Project_Files/ALU_16bit/ALU_16bit.srcs/sources_1/new/ALU.vhd
!Project_Files/ALU_16bit/ALU_16bit.srcs/sim_1/new/ALU_Testbench.vhd
!Project_Files/ALU_16bit/ALU_16bit.xpr
#RAM
!Project_Files/RAM_16bit/RAM_16bit.xpr
!Project_Files/RAM_16bit/RAM_16bit.srcs/sim_1/new/RAM_Testbench.vhd
!Project_Files/RAM_16bit/RAM_16bit.srcs/sources_1/new/RAM.vhd
!Project_Files/RAM_16bit/RAM_16bit.srcs/sources_1/new/Ram_Test.mem
#Intruction_Fetch_Stage
!Project_Files/Intruction_Fetch_Stage/Intruction_Fetch_Stage.xpr
!Project_Files/Intruction_Fetch_Stage/Intruction_Fetch_Stage.srcs/sources_1/new/Intruction_Fetch_Stage.vhd
!Project_Files/Intruction_Fetch_Stage/Intruction_Fetch_Stage.srcs/sources_1/new/Stage_Overview.vhd
!Project_Files/Intruction_Fetch_Stage/Intruction_Fetch_Stage.srcs/sim_1/new/Memory_Stage_Testbench.vhd
#CPU-Main
!Project_Files/CPU_main/CPU_main.xpr
!Project_Files/CPU_main/CPU_main.srcs/sources_1/new/CPU_main.vhd
!Project_Files/CPU_main/CPU_main.srcs/sim_1/new/CPU_main_TB.vhd
#ID/EX buf
!Project_Files/ID_EX_buf/ID_EX_buf.xpr
!Project_Files/ID_EX_buf/ID_EX_buf.srcs/sources_1/new/ID_EX_buf.vhd
!Project_Files/ID_EX_buf/ID_EX_buf.srcs/sim_1/new/ID_EX_buf_TB.vhd
#IF/ID buf
!Project_Files/IF_ID_buf/IF_ID_buf.xpr
!Project_Files/IF_ID_buf/IF_ID_buf.srcs/sources_1/new/IF_ID_buf.vhd
!Project_Files/IF_ID_buf/IF_ID_buf.srcs/sim_1/new/IF_ID_buf_TB.vhd
#Register File
!Project_Files/Register_FIle_16bit/Register_FIle_16bit.xpr
!Project_Files/Register_FIle_16bit/Source/RF8_16TB.vhd
!Project_Files/Register_FIle_16bit/Source/RF8_16.vhd
#ROM
!Project_Files/ROM_16bit/ROM_16bit.xpr
!Project_Files/ROM_16bit/ROM_16bit.srcs/sim_1/new/ROM_Testbench.vhd
!Project_Files/ROM_16bit/ROM_16bit.srcs/sources_1/new/ROM_Test.mem
!Project_Files/ROM_16bit/ROM_16bit.srcs/sources_1/new/ROM.vhd
#Memory Stage
!Project_Files/Memory_Stage/Memory_Stage.xpr
!Project_Files/Memory_Stage/Memory_Stage.srcs/sources_1/new/Memory_Stage.vhd
!Project_Files/Memory_Stage/Memory_Stage.srcs/sim_1/new/Memory_Stage_Testbench.vhd
#Write Back Stage
!Project_Files/Write_Back_Stage/Write_Back_Stage.xpr
!Project_Files/Write_Back_Stage/Write_Back_Stage.srcs/sources_1/new/Write_Back_Stage.vhd
#Execution Stage
!Project_Files/EX_Stage/EX_Stage.srcs/sources_1/new/EX_stage.vhd
!Project_Files/EX_Stage/EX_Stage.srcs/sources_1/new/EX_controller.vhd
!Project_Files/EX_Stage/EX_Stage.xpr
#Decode Stage
!Project_Files/decode/decode.xpr
!Project_Files/decode/decode.srcs/sources_1/new/RF8_16.vhd
!Project_Files/decode/decode.srcs/sources_1/new/MUX2_1.vhd
!Project_Files/decode/decode.srcs/sources_1/new/RAW.vhd
!Project_Files/decode/decode.srcs/sources_1/new/2_1MUX.vhd
!Project_Files/decode/decode.srcs/sources_1/new/Decode.vhd
!Project_Files/decode/decode.sim/Decode_TB.vhd
#Top Level CPU
!Project_Files/Top_Level_CPU/Top_Level_CPU.xpr
!Project_Files/Top_Level_CPU/Top_Level_CPU_TB_behav.wcfg
!Project_Files/Top_Level_CPU/Top_Level_CPU.srcs/sources_1/new/Format_A.mem
!Project_Files/Top_Level_CPU/Top_Level_CPU.srcs/sources_1/new/Top_Level_CPU.vhd
!Project_Files/Top_Level_CPU/Top_Level_CPU.srcs/sim_1/new/Top_Level_CPU_TB.vhd
!Project_Files/Top_Level_CPU/Top_Level_CPU.srcs/sources_1/new/Constant_Package.vhd
!Project_Files/Top_Level_CPU/Top_Level_CPU.srcs/sources_1/new/Format_L.mem
!Project_Files/Top_Level_CPU/Top_Level_CPU.srcs/sources_1/new/Format_B.mem
#Assembler
!Assembler/*
!Source/*